body{
	font-family: verdana, arial;
	background-image: url('../imagens/fundoA.jpg');
}

div.blocoPrincipal{
	width: auto;
	background-color: #ffffff;
	margin-left: auto; 
	margin-right: auto;
	padding: 10px 20px 10px 20px;
	border-width: 0 2px 0 2px;
	/*border-style: dashed;
	/*border-color: gray;
	/*box-shadow: 10px 10px 15px #000000; /*css3*/
	border-radius: 15px; /*css3*/
	/*margin-bottom: 20px;*/
	/*margin-top: 10px;*/
}

h1{
	color: #ce0000;
	margin-top: 20px;
}

p{
	color: black;
	line-height: 25px;
}

ul{
	list-style-type: none;
	padding: 0;
}

a{
	text-decoration: none;
}

.menuPrincipal{
	margin: 0 0 10px 0;
}

.menuPrincipal a{ 
	color: #ce0000;
	padding: 10px 10px 10px 10px;
	display: block;
	width: 130px;
	text-align: center;
}

.menuPrincipal a:hover{ 
	background-color: #cccccc;
}
div.cabecalho{
	left: 50px;
	margin-top: 30%

}
div.link1{
	background-color: black;
	margin-top: 50px;
}
p.borda{
 
	width: auto;;
	height: auto;
	border:solid 1px;
    border-radius:09px;

}
div.topo{
	color: black;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.btn{
	border-radius: 25rem;
}