/*
GERAL
*/
.card{
	background: #f1f1f1;
	border: 0;
}
body{
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	color: #4d4d4d !important;
}

h1,h2,h3{
	margin: 0 !important;
	font-family: "Roboto Slab" Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
}
.botao{
	color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #8f3faf;
	font-size: .9em;
	border-radius: 3px;

}

/* navegacao*/

nav{
	display: flex ;
	flex-direction: column ;
	align-items: center ;
	background-color:  #4d4d4d !important;

}

nav > a {
	text-decoration: none  !important;
	color: #f1f1f1 !important;
	font-weight: 700 !important;
	font-size: 28px !important;
	font-family: Pacifico, serif !important;


}


nav ul {
	list-style:  none;
	padding: 0;
	display:  flex;
	flex-direction: column;
	align-items:  center;
	width: 100%;

}

nav ul li{
	
	text-align: center;
	width: 100%;
}
 
nav ul li a {
	display:  inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration:  none;
	color: #f1f1f1 !important;

}


/* cabecalho */


header{
	background-image: url('../imagens/bolsa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
	
}

header p{
	margin-bottom: 2em;
}
/* sobre*/

#sobre{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #8f3faf;
    color: #f1f1f1;
}

#sobre p{
	margin-bottom: 2.5em;
    max-width: 1000px;
}
#sobre .botao{
	background-color: #f1f1f1;
    color: #4d4d4d;
}

/*  servico */

#servicos{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#servicos div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px; 
}

/* portifolho */
#portifolio{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}


#portifolio h2{
	margin-bottom: 20px;

}

#portifolio img{
	width: 100%;
}








/* rodape */


footer{
	text-align: center;
	padding: 10px;
	background-color: #4d4d4d;
	color: #f1f1f1; 
}



/* media queries NAVEGADORES*/

@media screen and (min-width: 768px){

	/* navegacao*/ 
		nav{
			flex-direction: row;
			justify-content: space-around;

		}

		nav ul{
			flex-direction: row;
			width: 70%;
		}


		/* cabecalho*/

		header{
			height: 600px;
			height: 60vh; /* PARA NAVEGADOR ANTIGO*/
			justify-content: center;

		}


		/* sobre*/
		#sobre{
			height: 250px;
			height: 30vh;
			justify-content: center;
			min-height: 250px;
		}



		/* servicos */

		#servicos{
			flex-direction: row;
			flex-wrap:  wrap;
			align-items: flex-start;
			max-width: 1000px;
			margin: 0 auto;
		}

		#servicos h2{
			text-align: center;
			width: 100%;
		}

		#servicos div{
			flex-grow: 1;
			flex-basis: 150px;
			padding: 0 10px;
		}


		/* portifolho*/


		#portifolio{
			flex-direction: row;
			flex-wrap: wrap;
		}

		#portifolio h2{
			width: 100%;
			text-align: center;
		}

		#portifolio img{
			width: 33.3333333333%;
		}

		/* contato*/


		
}